{% extends 'students/base.html' %}

{% block title %}
Add Student
{% endblock %}

{% block content %}

<div class="form-container">

    <div class="form-header">
        <h1>Add New Student</h1>
        <p>Enter the student's information below.</p>
    </div>

    <form method="POST">
        

        {% csrf_token %}

        {{ form.as_p }}

        <div class="form-actions">

            <button type="submit" class="save-btn">
                Save Student
            </button>

            <a href="{% url 'student_list' %}" class="cancel-btn">
                Cancel
            </a>

        </div>
        

    </form>
    

</div>

{% endblock %}